@media screen and (max-width: 1400px) {
    #header {
        display: none;
    }

    #small-header {
        display: block;
    }

    #wrapper {
        margin-top: 3em;
    }
}

/* Style for the toggle button */
.toggle-button {
    position: fixed;
    top: 1.5em;
    left: 0.4em;
    z-index: 10001; /* Ensure the button is above the sidebar */
    font-size: 24px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #ffffff;
}


@media screen and (min-width: 1400px) {
    
    .toggle-button{
        display: none;
    }
  }


  @media screen and (min-width: 1400px) {
    
    .specific-sidebar {
        display: none;	
    }
    }
  
    @media screen and (max-width: 1400px) {
.specific-sidebar {
    /* Adjust the sidebar size for small screens */
    width: 10%; /* Change this value as needed */
    /* Add other styling properties as needed */
}
}

.aether-sidebar-dropdown {
position: absolute;
top: 100%;
left: -45%;
display: none;
z-index: 999;
padding: 0px;
background-color: #ffffff;
border: 1px solid #000000;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
